body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

/* untuk mengatur tampilan table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.status {
    font-weight: bold;
}

/* Penanda Kesesuaian */
.sesuai {
    color: green;
}

.tidak-sesuai {
    color: red;
} 